.modal {
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(24, 32, 42); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    /* background-color: rgb(24, 32, 42); */
    border-radius: 2%;
    margin: 20% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* color: white; */
    /* Could be more or less, depending on screen size */
}

.model-btn {
    margin-left: 5px;
    width: 80px;
}

/* .login-text {
    height: 40px;
    color: aliceblue;
    background-color: rgb(24, 32, 42);
    margin-top: 15px;
    border: 1px solid #555555;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
} */
