$primaryFont: 'Assistant', sans-serif;

$red: #dd2126;
$gray: #6b6b6b;
$black: #000000;
$cyan: #40c4ff;
$cyanHover: #0a9da7;
$green: #4CAF50;

// Screen sizes
$xxl: 1440px;
$xl: 1280px;
$l: 1024px;
$m: 768px;
$s:540px;

@mixin transition($val){
  transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -webkit-transition: $val;
}
